<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="greetGoTestProject.repository.StarMapper">
    <cache/>

    <select id="getStar" parameterType="int" resultMap="detailedStarResultMap">
            SELECT
            star_id,
            star_name,
            coordinate1,
            coordinate2,
            star_type,
            discoverer
            FROM
            stars
            WHERE star_id = #{id}
        </select>
    <select id="getAllStars" resultMap="detailedStarResultMap">
        SELECT
        star_id,
        star_name,
        coordinate1,
        coordinate2,
        star_type,
        discoverer
        FROM
        stars
    </select>

    <select id="getStarTypes" resultMap="StarTypeResultMap">
        SELECT * FROM star_type
    </select>

    <select id="getDiscoverers" resultType="String">
        SELECT DISTINCT discoverer FROM stars
    </select>

    <delete id="deleteStar" parameterType="int">
        DELETE FROM stars WHERE star_id = #{id}
    </delete>
    <insert id="saveStar" parameterType="Star" useGeneratedKeys="true" keyProperty="id" keyColumn="star_id">
       INSERT INTO stars(star_name, coordinate1, coordinate2, star_type, discoverer)
             VALUES(
                #{name},
                #{coordinate1},
                #{coordinate2},
                #{starType},
                #{discoverer}
             )
    </insert>

    <update id="updateStar" parameterType="Star">
        UPDATE stars SET
        star_name = #{name},
        coordinate1 = #{coordinate1},
        coordinate2 = #{coordinate2},
        star_type = #{starType},
        discoverer = #{discoverer}
        WHERE star_id = #{id}
    </update>

    <resultMap id="StarTypeResultMap" type="StarType">
        <result property="starType" column="star_type" javaType="StarType"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <resultMap id="detailedStarResultMap" type="Star">
        <constructor>
            <idArg column="star_id" javaType="int"/>
        </constructor>
        <result property="name" column="star_name"/>
        <result property="coordinate1" column="coordinate1"/>
        <result property="coordinate2" column="coordinate2"/>
        <result property="starType" column="star_type" javaType="StarType"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="discoverer" column="discoverer"/>
    </resultMap>
</mapper>


