<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>


    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/stars**" access="hasRole ('ROLE_USER')" />
        <form-login
                login-page="/login"
                default-target-url="/stars"
                authentication-failure-url="/login?error=true"
                login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/login" />
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!--<http>-->
        <!--<intercept-url pattern="/login" access="permitAll"/>-->
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->

        <!--<form-login login-page="/login" default-target-url="/stars"-->
                    <!--authentication-failure-url="/login?error=true"-->
                    <!--login-processing-url="/spring_security_check"/>-->
        <!--<logout logout-success-url="/login"/>-->
        <!--&lt;!&ndash;<csrf disabled="true"/>&ndash;&gt;-->
    <!--</http>-->
    <!---->

    <!--<authentication-manager>-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="admin" password="admin" authorities="isAuthenticated()" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->
</beans:beans>